.detailsColBg mat-checkbox {
    padding: 5px;
}

.daysCheckBoxs.matCheckBlueWidth {
    width: 150px;
    margin: auto;
}
.DetailPhotoRight.margmanag {
    margin: 0 15px;
}
@media screen and (max-width:767px) {
    ::ng-deep.checkHalfBoxed .mat-checkbox-layout {
        border: 1px solid #D9D9D9 !important;
        border-radius: 10px !important;
    }
}
