.disable-section {
    pointer-events: none;
}

.colFlex {
    display: flex;
    gap: 15px;
}

.spaceIputLists mat-form-field {
    margin-bottom: 0;
}

::ng-deep {
    .inlineFormGroup .spaceIputLists mat-form-field {
        padding: 0;
    }
    .spaceIputLists mat-form-field span {
        font-weight: 700;
    }
    .inlineFormGroup .spaceIputLists mat-form-field input {
        font-family: 'Nunito';
        font-size: 18px;
        max-width: 60px;
        margin: 0;
        border-radius: 5px;
        border: 1px solid var(--primaryLight) !important;
    }
    .propviderSignStepper .inlineFormGroup .spaceIputLists mat-form-field .mat-form-field-flex .mat-form-field-infix {
        border: 1px solid var(--grayColor);
    }
}
@media screen and (max-width: 767px) {
  .detailsRow.disable-section.sectionSec{
    margin-bottom: 10px !important;
  }
}
