// Continue button design

.profleTable {
  margin-top: 0;
}
::ng-deep .main_block {
  display: inherit;
}
::ng-deep .healthContinue {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 0;
}

::ng-deep .healthContinue .btn-primary {
  background: var(--primaryLight);
  border-color: var(--primaryLight);
  padding: 11px 10px;
  border-radius: 10px;
  font-size: 18px;
}

::ng-deep .emergbrief.childGender label.form-check-label {
  overflow: inherit !important;
}

.emergbrief {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.childGap {
  gap: 80px;
}

::ng-deep .deleteButton {
  border: none;
  color: #164789;
  padding: 2px 15px 2px 0px;
}

.shareBoxFixed {
  padding: 15px;
  height: 625px;
  overflow: auto;
}

.contentrightBg {
  border: 1px solid #8AD5FF;
}

.addBriefCombine .btn-primary.parentClass {
  min-width: 111px;
  background: var(--primaryLight);
  border-color: var(--primaryLight);
}

.addBriefCombine .btn-danger.parentClass {
  margin-right: 20px;
  min-width: 111px;
  background: #772162;
  border-color: #772162;
}

.headingbgBtn {
  min-width: 265px;
}

.textClass {
  color: var(--primaryLight);
  font-family: "Nunito";
  font-size: 16px;
  font-size: 1;
  font-weight: 800;
  margin-bottom: 2px;
  display: block;
  text-decoration: underline;
}

::ng-deep {
  .mat-checkbox-inner-container {
    display: inline-block;
    visibility: hidden !important;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
  }
}
