.reviewActionsBtn .buttonPre.whiteBtn {
  min-width: 122px;
  height: 71px;
  padding: 0px 30px;
}

.reviewActionsBtn .buttonPre.blueBtn {
  width: 214px;
  height: 64px;
  padding: 0px 30px;
}
.ReviewModal  {
  width: 1280px;
  border-radius: 20px;
  padding: 20px !important;
  background: white;
  margin: 40px auto 40px;
}

