.sidebarleft {
  background: var(--primaryColor);
  border: 1px solid #8AD5FF;
  // position: absolute;
  left: 0;
  width: 260px;
  min-height: 750px;
  border-radius: 0px 20px 20px 0px;
  transition: all .3s ease;
}
.FootMeessage {
  background: #6CA3C6;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 1px 5px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;
  margin-left: 5px;
}
.userPortal {
background: #2C2C2C;
color: #fff;
font-size: 20px;
font-weight: 500;
padding: 10px 0;
text-align: center;
border-bottom: 1px solid #8AD5FF;
border-radius: 0px 20px 0px 0px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.userPortal h5.userportMain {
font-size: 20px;
color: var(--whiteColor);
margin: 0;
}

.userProfle {
text-align: center;
padding: 15px 15px 15px;
}

// .userIcon {
//   background-image: linear-gradient(181.28deg, #95F2FF 13.42%, rgba(173, 244, 148, 0.16) 63.62%);
//   background-size: 180px 570px;
//   width: 50px;
//   height: 50px;
//   display: inline-block;
//   background:  #95F2FF;
//   border-radius: 50%;
// }

.userIcon {
  width: 50px;
  margin: auto;
}
.userIcon p.menu_btn {
  margin: 0;
}
img.menuImg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: top;
}
.userProfle h4.userTitle {
font-size: 18px;
font-weight: 600;
color: var(--whiteColor);
margin-top: 6px;
margin-bottom: 0;
}
.userProfle h6.providerId {
color: var(--whiteColor);
font-size: 13px;
font-weight: 400;
margin: 0 0 5px;
}
.userProfle a.viewpublic {
color: var(--whiteColor);
font-size: 14px;
font-weight: 400;
}
.collapseCustom ul.dropdownInner {
padding: 0;
}
.nav .dropdownInner li.nav-item a.nav-link {
padding: .75rem 1.2rem;
border-bottom: 0px;
}
.nav .dropdownInner li.nav-item:last-child a.nav-link {
border-bottom: 1px solid #8AD5FF;
border-radius: 0px;
}
.dropdownInner span.navIconsm {
padding-right: 8px;
}
.dropdownInner span.navIconsm svg {
width: 16px;
}
.dropdownInner span.navTxthid {
font-weight: 500;
}
.collapseCustom ul.settingDropdown {
padding: 0;
border-bottom: 1px solid #95F2FF;
}
.collapseCustom li.dropdownLink {
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
padding: 10px;
}
.collapseCustom li.dropdownLink p.toglpara {
font-size: 15px;
font-weight: 500;
color: #fff;
margin: 0;
}
.navTogbtn label.mat-slide-toggle-label {
gap: 10px;
}
.navTogbtn label.mat-slide-toggle-label .mat-slide-toggle-bar {
order: 1;
margin-right: 0;
background: #9acfd6;
}
.navTogbtn .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
background-color: var(--whiteColor);
}
.navTogbtn .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
background-color: #95F2FF;
position: relative;
}
.navTogbtn .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb::after {
position: absolute;
content: "";
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--primaryLight);
width: 10px;
height: 10px;
border-radius: 50%;
}

.sidebarleft .sidebar .nav-item a.nav-link {
font-family: 'Nunito';
color: var(--whiteColor);
font-size: 15px;
font-weight: 700;
padding: .75rem .75rem;
border-bottom: 1px solid #95F2FF;
display: flex;
align-items: center;
}
.sidebarleft .sidebar .nav-item a.nav-link span.navIcon {
padding-right: 8px;
}
.sidebarleft .sidebar .nav-item a.nav-link:hover {
background: #95F2FF;
color: var(--blackColor);
border-bottom: 1px solid #95F2FF;
}
.sidebarleft .sidebar .nav-item a.nav-link:hover span.mat-checkbox-background svg.mat-checkbox-checkmark {
display: none;
}
.sidebarleft .sidebar .nav-item a.nav-link span.mat-checkbox-background .mat-checkbox-checkmark-path {
stroke: #95f2ff !important;
}
.sidebarleft .sidebar .nav-item a.nav-link:hover svg path {
fill: var(--blackColor);
}
.sidebarleft .sidebar .nav-item a.nav-link:hover span.mat-checkbox-background svg path.mat-checkbox-checkmark-path {
fill: var(--blackColor);
}

.sidebarleft .sidebar .nav-item a.nav-link:hover .mat-checkbox-frame {
border-color: var(--blackColor);
}

.sidebarleft .sidebar .nav-item:hover a.nav-link.fstchd {
border-bottom: 0px solid #8AD5FF;
border-radius: 0px 15px 0px 0px;
}
// .sidebarleft .sidebar .nav-item:last-child a.nav-link {
// border-bottom: 0px solid #8AD5FF;
// border-radius: 0px 0px 15px 0px;
// }

.sidebarleft .sidebar li.nav-item a.nav-link.active {
  color: var(--whiteColor);
  background: var(--primaryLight);
}
.sidebarleft .sidebar a.nav-link .msgnotifysm {
background: #6ca3c6;
color: var(--whiteColor);
border: 1px solid #fff;
width: 24px;
height: 20px;
line-height: 15px;
font-size: 14px;
font-weight: 500;
padding: 1px 3px;
border-radius: 5px;
margin-left: 8px;
text-align: center;
}
.sidebarleft .sidebar li.nav-item a.nav-link.active svg path {
  fill: var(--whiteColor);
}

.sidebarleft .sidebar .submenu {
  list-style: circle;
}

.sidebarleft .sidebar li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebarleft .sidebar .nav-item a.nav-link span.navsvg {
margin-right: 8px;
line-height: 15px;
}

.sidebarleft .sidebar li .submenu a.nav-link {
  border-bottom: 0px;
}


// for mobible
.userPortal.smMobible {
  display: none;
  position: relative;
}

.userPortal.smMobible span.userportIcon {
  position: absolute;
  top: 8px;
  right: 10px;
}

@media screen and (max-width: 767px) {
  /* ====== sidenavbar css start ====== */
  .customCombine {
    padding-left: 65px;
    padding-right: 15px;
  }
  .sidebarleft {
    position: fixed;
    top: 0px;
    left: 0;
    display: none;
    height: 100%;
    z-index: 9;
  }

  .active_menu {
    display: block !important;
    transition: all .3s ease;
  }

  .userPortal {
    display: none
    ;
  }
  .userPortal.smMobible {
    display: block
  }

  .inactive_menu{
    display: none !important;
  }


  /* ====== sidenavbar css exit ====== */

}

span{
  cursor: pointer;
}

.menuText {
  background: url('../../../assets/images/turquoise.png');
  background-size: cover;
  height: 50px;
  border-radius: 50%;
  margin: 0px;
  font-size: 30px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// Nanny button disable
.nannyDisable{
  pointer-events: none;
  position: relative;
  overflow: hidden;
}
.nannyComming{
  position: absolute;
  top: -55px;
  right: -57px;
  background: #772162;
  width: 90px;
  height: 100px;
  padding: 5px 50px;
  border-radius: 5px 5px 0px 0px;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
