<div class="left-sidebar w-100">
  <nav class="sidebar">
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item crossHide">
        <div>x</div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link fstchd"
          aria-current="page"
          routerLink="/provider/signup/1/step/1"
          routerLinkActive="active"
        >
          <ng-container>
            <mat-checkbox
              [checked]="providerData?.step1_completed"
              (click)="$event.preventDefault()"
              class="example-margin"
            >Step 1: Basic information
            </mat-checkbox
            >
          </ng-container>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link fstchd"
          aria-current="page"
          routerLink="/provider/signup/1/step/2"
          routerLinkActive="active"
        >
          <ng-container>
            <mat-checkbox
              [checked]="providerData?.step1_completed"
              (click)="$event.preventDefault()"
              class="example-margin"
            >Step 1: Basic information
            </mat-checkbox
            >
          </ng-container>
        </a>
      </li>
          <!--          <ng-container>-->
          <!--            <svg-->
          <!--              width="20"-->
          <!--              height="21"-->
          <!--              viewBox="0 0 20 21"-->
          <!--              fill="none"-->
          <!--              xmlns="http://www.w3.org/2000/svg"-->
          <!--            >-->
          <!--              <path-->
          <!--                d="M9 13.4719H11V15.4719H9V13.4719ZM9 5.47192H11V11.4719H9V5.47192ZM10 0.471924C4.47 0.471924 0 4.97192 0 10.4719C0 13.1241 1.05357 15.6676 2.92893 17.543C3.85752 18.4716 4.95991 19.2082 6.17317 19.7107C7.38642 20.2133 8.68678 20.4719 10 20.4719C12.6522 20.4719 15.1957 19.4184 17.0711 17.543C18.9464 15.6676 20 13.1241 20 10.4719C20 9.15871 19.7413 7.85835 19.2388 6.64509C18.7362 5.43183 17.9997 4.32944 17.0711 3.40086C16.1425 2.47227 15.0401 1.73568 13.8268 1.23313C12.6136 0.730582 11.3132 0.471924 10 0.471924M10 18.4719C7.87827 18.4719 5.84344 17.6291 4.34315 16.1288C2.84285 14.6285 2 12.5937 2 10.4719C2 8.35019 2.84285 6.31536 4.34315 4.81507C5.84344 3.31478 7.87827 2.47192 10 2.47192C12.1217 2.47192 14.1566 3.31478 15.6569 4.81507C17.1571 6.31536 18 8.35019 18 10.4719C18 12.5937 17.1571 14.6285 15.6569 16.1288C14.1566 17.6291 12.1217 18.4719 10 18.4719V18.4719Z"-->
          <!--                fill="#FFCB14"-->
          <!--              />-->
          <!--            </svg>-->
          <!--            <span style="margin-left: 8px; cursor: pointer">-->
          <!--              Step 1: Basic information-->
          <!--            </span>-->
          <!--          </ng-container>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </nav>
</div>
