<div class="mainBgColor">
  <app-header></app-header>
  <section class="userSignupOuter">
    <div class="customCombine customCombineProviderPort">
      <app-provider-setting-sidebar></app-provider-setting-sidebar>
      <div class="contentright">
        <div class="contentrightBg">
          <div class="accountSetting">
            <div class="headingbg">
              <div class="headingbgFlex3">
                <div class="headingbgText">
                  <h1 class="headingh1">Enrollments</h1>
                </div>
                <div class="headingbgSearch">
                  <mat-form-field appearance="fill">
                    <input type="search" matInput placeholder="Search enrollments" #input>
                  </mat-form-field>
                  <button class="hedflxBtn" mat-button>
                    <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M9.78571 0C12.2484 0 14.6103 0.978313 16.3517 2.71972C18.0931 4.46113 19.0714 6.82299 19.0714 9.28571C19.0714 11.5857 18.2286 13.7 16.8429 15.3286L17.2286 15.7143H18.3571L25.5 22.8571L23.3571 25L16.2143 17.8571V16.7286L15.8286 16.3429C14.2 17.7286 12.0857 18.5714 9.78571 18.5714C7.32299 18.5714 4.96113 17.5931 3.21972 15.8517C1.47831 14.1103 0.5 11.7484 0.5 9.28571C0.5 6.82299 1.47831 4.46113 3.21972 2.71972C4.96113 0.978313 7.32299 0 9.78571 0ZM9.78571 2.85714C6.21429 2.85714 3.35714 5.71429 3.35714 9.28571C3.35714 12.8571 6.21429 15.7143 9.78571 15.7143C13.3571 15.7143 16.2143 12.8571 16.2143 9.28571C16.2143 5.71429 13.3571 2.85714 9.78571 2.85714Z"
                        fill="#D9D9D9" />
                    </svg>
                  </button>

                </div>
                <div class="headingbgBtn">
                  <a href="#" class="btn btn-light">
                    <span class="watchBtn"><svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.07 9.72192L12.17 10.6419C11.45 11.3619 11 11.9719 11 13.4719H9V12.9719C9 11.8619 9.45 10.8619 10.17 10.1419L11.41 8.88192C11.78 8.52192 12 8.02192 12 7.47192C12 6.36192 11.1 5.47192 10 5.47192C9.46957 5.47192 8.96086 5.68264 8.58579 6.05771C8.21071 6.43278 8 6.94149 8 7.47192H6C6 6.41106 6.42143 5.39364 7.17157 4.6435C7.92172 3.89335 8.93913 3.47192 10 3.47192C11.0609 3.47192 12.0783 3.89335 12.8284 4.6435C13.5786 5.39364 14 6.41106 14 7.47192C14 8.35192 13.64 9.14192 13.07 9.72192ZM11 17.4719H9V15.4719H11M10 0.471924C8.68678 0.471924 7.38642 0.730582 6.17317 1.23313C4.95991 1.73568 3.85752 2.47227 2.92893 3.40086C1.05357 5.27622 0 7.81976 0 10.4719C0 13.1241 1.05357 15.6676 2.92893 17.543C3.85752 18.4716 4.95991 19.2082 6.17317 19.7107C7.38642 20.2133 8.68678 20.4719 10 20.4719C12.6522 20.4719 15.1957 19.4184 17.0711 17.543C18.9464 15.6676 20 13.1241 20 10.4719C20 4.94192 15.5 0.471924 10 0.471924Z"
                          fill="#E7E7E7" />
                      </svg>
                    </span>
                    Watch Tutorial Video
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="shareBoxFixed">
            <div class="paymentInformartion p-0">
              <div class="tabelCombine mt-0">
                <div class="flexTitleTable hedpara">
                  <h4 class="providerh4">Enrollment requests</h4>
                  <p class="providerPara">Showing {{notEnrolled.length}} most recent enrollment requests</p>
                </div>
                <div class="profleTable boxshadow scrollManage">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Parent Name</th>
                          <th scope="col">Child Name</th>
                          <th scope="col">Child Age</th>
                          <th scope="col">Request Date</th>
                          <th scope="col">On waitlist?</th>
                          <th scope="col">Applied?</th>
                          <th class="tblactionTh" scope="col">Action</th>
                          <th scope="col" class="action-tbl tblRemoveTh">Mark as enrolled </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of notEnrolled">
                          <td>
                            <div class="tblNewFlx">
                              {{ ucFirst(item?.parent_1?.first_name) }} {{ ucFirst(item?.parent_1?.last_name) }}
                              <span *ngIf="checkNewStatus(item?.updated_at)" class="tblnew">New</span>
                            </div>
                          </td>
                          <td *ngIf="item?.child?.expected_due_date">Pregnancy ({{item?.child?.expected_due_date}})</td>
                          <td *ngIf="!item?.child?.expected_due_date">{{ ucFirst(item?.child?.first_name) }} {{ ucFirst(item?.child?.last_name) }}</td>
                          <td>{{item?.child?.age}}</td>
                          <td>{{item?.updated_at | date:'shortDate'}}</td>
                          <td>{{item?.waitlist == true ?'Yes': 'No' }}</td>
                          <td>{{item?.applied == true ?'Yes': 'No' }}</td>
                          <td>
                            <div class="tblActionFlex">
                              <button class="tblactionBtn" mat-button (click)="messageUser(item)">
                                Message user
                              </button>
                              <button class="tblactionBtn" mat-button
                                (click)="confirm(item,'Invited To Enroll')">
                                Invite to enroll
                              </button>
                              <button class="tblactionBtn" mat-button
                                mat-button (click)="confirm(item,'Added To Waitlist')">
                                Add to waitlist
                              </button>
                              <button class="tblactionBtn" mat-button
                                (click)="confirm(item,'Invited To Apply')">
                                Invite to apply
                              </button>
                            </div>
                          </td>
                          <td class="action-tbl tblRemoveTd">
                            <button (click)="confirm(item,'Enrolled')" class="actionRmvbtn" mat-button>
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M8 15L3 10L4.41 8.58L8 12.17L15.59 4.58L17 6M10 0C8.68678 0 7.38642 0.258658 6.17317 0.761205C4.95991 1.26375 3.85752 2.00035 2.92893 2.92893C1.05357 4.8043 0 7.34784 0 10C0 12.6522 1.05357 15.1957 2.92893 17.0711C3.85752 17.9997 4.95991 18.7362 6.17317 19.2388C7.38642 19.7413 8.68678 20 10 20C12.6522 20 15.1957 18.9464 17.0711 17.0711C18.9464 15.1957 20 12.6522 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7362 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0Z"
                                  fill="#369108" />
                              </svg>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="addChild" *ngIf="notEnrolledCount > 10">
                      <a href="javascript:void(0)" class="tblView">
                        View all new applications
                        <span class="tblDigit">({{notEnrolledCount}})</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabelCombine">
                <div class="flexTitleTable hedpara">
                  <h4 class="providerh4">Enrolled</h4>
                  <p class="providerPara">Showing {{Enrolled.length}} most recent enrolled</p>
                </div>
                <div class="profleTable boxshadow scrollManage">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Parent Name</th>
                          <th scope="col">Child Name</th>
                          <th scope="col">Child Age</th>
                          <th scope="col">Date Enrolled</th>
                          <th class="tblactionTh" scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of Enrolled; let i = index;">
                          <td>
                            <div class="tblNewFlx">
                              {{ ucFirst(item?.parent_1?.first_name) }} {{ ucFirst(item?.parent_1?.last_name) }}
                            </div>
                          </td>
                          <td>{{ ucFirst(item?.child?.first_name) }} {{ ucFirst(item?.child?.last_name) }}</td>
                          <td>{{item?.child?.age}}</td>
                          <td>{{item?.date_enrolled | date:'shortDate'}}</td>
                          <td>
                            <div class="tblActionColor">
                              <!-- <button class="tblviwen" mat-button color="primary">View enrollment documents</button> -->
                              <button class="tblviwunmrk" mat-button color="accent"
                              (click)="confirm(item,'Unmarked As Enrolled')"
                                >Unmark as enrolled</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="addChild" *ngIf="EnrolledCount > 10">
                      <a href="javascript:void(0)" class="tblView">
                        View all enrolled
                        <span class="tblDigit">({{EnrolledCount}})</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="paymentContinue">
                <a href="#" class="btn btn-primary">Continue</a>
              </div> -->

            </div>
          </div>

        </div>
        <!-- <div class="cancleAccoutBtn">
                <a href="#" class="btn btn-outline-primary">Cancel Account</a>
            </div> -->

      </div>
    </div>
  </section>
</div>
