<div class="mainBgColor">
  <app-header></app-header>
  <section class="userSignupOuter">
    <div class="HeadingPlusSearch">
      <h2 class="aboutTitle">About Us</h2>
    </div>
    <div class="customCombine positionOveride">
      <app-about-us-sidebar></app-about-us-sidebar>
      <div class="contentright">
        <div class="contentrightBg" id="whatKCF">
          <div class="headingbg">
            <h1 class="headingh1 fw-bold">What is Kids Care Finder (KCF)?</h1>
          </div>
          <div class="faqContent">
            <div class="faqContentScroll">
              <div class="faqContentInn">
                <h2 class="faqh2">What is Kids Care Finder?</h2>
                <p class="faqpara">
                  The search for reliable child care that meets your family’s
                  unique needs can be a never-ending and time-consuming
                  challenge. Even after you find the perfect fit, your family’s
                  needs constantly change as your kids grow and develop, leaving
                  you in a perpetual process that restarts each time you look
                  for a new form of care or extra curricular activity.
                </p>
                <p class="faqpara">
                  It can take weeks of searching, dozens of phone calls,
                  countless interviews and tours, and still you may not have
                  found the perfect fit.
                </p>
                <p class="faqpara">
                  Now you can find any type of childcare for all of your
                  family’s needs in one place. From a Nanny to help with your
                  newborn baby, to a Daycare or Preschool for your bright and
                  curious toddler, or even sports and rec activities or a summer
                  camp for your growing teenager, Kids Care Finder can help you
                  find the optimal childcare fit for each child in your family.
                </p>
                <p class="faqpara">
                  Kids Care Finder isn’t just helping make life easier for
                  families in search of care, but for our providers too! When
                  you sign up to be a provider with Kids Care Finder, we make it
                  possible to offer online enrollment, eliminating hours of
                  painful and tedious paperwork. You can also accept online
                  applications, and easily manage a waitlist on our site when
                  you do not currently have space available. With less
                  administrative work and less time responding to inquiries
                  about your business, you can spend more time focused on the
                  children you care for.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="contentrightBg marginTop3" id="whyKCF">
          <div class="headingbg">
            <h1 class="headingh1 fw-bold">Why Kids Care Finder (KCF)?</h1>
          </div>
          <div class="faqContent">
            <div class="faqContentScroll">
              <div class="faqContentInn">
                <h2 class="faqh2">Why Kids Care Finder?</h2>
                <p class="faqpara">
                  There are some very unique features that separate Kids Care
                  Finder from all other platforms that help families find
                  childcare:
                </p>
                <div class="faqList">
                  <ul>
                    <li>No monthly subscription fee for users</li>
                    <li>
                      We do not take any percentage of tuition or enrollment
                      fees from providers.
                    </li>
                    <li>
                      We offer an industry leading number of provider types, and
                      will continuously be adding more until all childcare needs
                      are covered!
                    </li>
                    <li>
                      Our unique search results table displays a significant
                      amount of key information on each provider on one screen,
                      saving countless hours spent calling and emailing dozens
                      of providers to ask the same basic questions
                    </li>
                    <li>
                      Providers can dramatically reduce their administrative
                      load by managing their waitlist, online applications and
                      online enrollment via the Provider Portal
                    </li>
                    <li>
                      Our patent pending functionality allows much more than
                      just messaging between users and providers. Additional
                      features include:
                      <ul class="innlist">
                        <li>
                          Users and providers can save precious time writing
                          messaging back and forth with our quick messages
                        </li>
                      </ul>
                    </li>
                    <li>
                      Filter providers based on specific needs or requirements
                    </li>
                    <li>
                      Join provider’s waitlists and know what number you are
                    </li>
                    <li>
                      Use our integrated online application template to easily
                      apply for various provider types
                    </li>
                    <li>
                      Electronic enrollment with our automated online enrollment
                      workflo For our families, find providers that fit your
                      family’s unique needs more quickly. For our providers,
                      spend less time on administrative tasks and responding to
                      inquiries, and more time focusing on the children you care
                      for.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contentrightBg marginTop3" id="aboutFounder">
          <div class="headingbg">
            <h1 class="headingh1 fw-bold">About the Founder</h1>
          </div>
          <div class="faqContent">
            <div class="faqContentScroll">
              <div class="faqContentInn aboutPadding">
                <div class="aboutFlexBox">
                  <div class="aboutFlex">
                    <div class="aboutImageBox">
                      <!-- <img class="aboutone" src="../../../../../assets/images/aboutone.svg" alt=""> -->
                    </div>
                    <div class="aboutTextBox">
                      <h2 class="faqh2">About the Founder</h2>
                      <div>
                        <div class="floatImg">
                          <!-- <img
                            class="aboutone"
                            src="../../../../../assets/images/aboutone.svg"
                            alt=""
                          /> -->
                          <img
                            class="aboutone"
                            src="../../../../../assets/images/aboutone.jpg"
                            alt=""
                          />
                        </div>
                        <p class="faqpara">
                          Kids Care Finder started in Carlsbad, CA by
                          <strong>Olivia Rutman</strong>, a working mom of three
                          boys. Her experience with finding safe and reliable
                          childcare was riddled with obstacles that made it
                          almost impossible to find suitable solutions to all
                          the needs of her growing family. From childcare
                          providers to extracurricular activities, it seemed
                          that Olivia always had to jump through countless hoops
                          and spend weeks searching for care for each of her
                          boys, each time their needs changed. Even after
                          finding a potential fit, with each new program, she
                          would start from square one with an email, call,
                          interview, tour, and application - then repeating the
                          cycle all over again if it didn’t work out.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="aboutFlexEqual">
                    <div class="aboutEqual">
                      <img
                        class="aboutone aboutoneMobile"
                        src="../../../../../assets/images/abouttwo.svg"
                        alt=""
                      />
                      <p class="faqpara">
                        When a fit was finally found, she was sent home with
                        hours of tedious paperwork to complete, which is no
                        small ask for a fast moving working parent. It was an
                        incredibly time intensive and mentally exhausting
                        process, and what seemed like a never-ending cycle.
                        After talking with other families, she realized this is
                        an unfortunate commonality that almost all parents face,
                        on top of the other countless challenges that come with
                        raising their kids.
                      </p>
                    </div>
                    <div class="equalRight">
                      <!-- <img class="aboutone" src="../../../../../assets/images/abouttwo.svg" alt=""> -->
                    </div>
                  </div>
                </div>
                <p class="faqpara marginTop1">
                  Some of whom she spoke to were still struggling with their
                  search for reliable care, and in many cases didn’t even know
                  where to begin looking. While on maternity leave with baby
                  number three, and after looking for new care for what felt
                  like the hundredth time, Olivia knew there needed to be an
                  easier way. She jumped to work and created Kids Care Finder to
                  help families everywhere quickly and easily find the right
                  childcare fit for their family.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
