<div class='docoValidsuccess' [ngClass]="{'loaderCustom': showLoader}">
  <div class="loaderPreschool" *ngIf="showLoader">
    <img src="../../../../assets/images/loader.gif" alt="">
  </div>

  <div class='firstBlock'>
    <div class="svg-icon">
      <svg width="111" height="110" viewBox="0 0 111 110" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M55.5 0C25.25 0 0.5 24.75 0.5 55C0.5 85.25 25.25 110 55.5 110C85.75 110 110.5 85.25 110.5 55C110.5 24.75 85.75 0 55.5 0ZM44.5 82.5L17 55L24.755 47.245L44.5 66.935L86.245 25.19L94 33L44.5 82.5Z"
          fill="#164789" />
      </svg>
    </div>
    <div class="text">

      Your enrollment details have been added successfully

    </div>
  </div>
  <div class="secondBlock">
    <div class="maintext">
      There are multiple items typically required for enrollment at a daycare or school. These items include:
      <ul>
        <li>
          State enrollment forms
        </li>
        <li>
          Including completed Physicians' report

        </li>
        <li>
          Child's vaccination records

        </li>
        <li>
          Provider's signed contract?
          <span class="validspan">(Provider will send this to you separately)</span>
        </li>
      </ul>

    </div>
    <p class="validPara">
      The information you just entered will be used to complete the state enrollment forms. Once you continue from here,
      you will be taken to our DocuSign workflow to eSign the forms that require a signature. Once complete, you will be
      given the option to upload the additional items listed above so they are all sent to the provider in one,
      consolidated package. You can also send these documents in to the provider separately if you chose to do so.
    </p>
    <h4 class="noteh4">
      *Please note that the Physicians’ report is a part of the state required enrollment forms but it needs to be filled out and signed by your child’s Pediatrician. You can download a copy of the form here to take to your Pediatrician, or you can request this form directly from your Pediatrician’s office.
    </h4>
  </div>
</div>
