<div class="mainBgColor">
  <app-header></app-header>
  <section class="userSignupOuter providerSignup">
    <div class="customCombine">
      <app-sidebar-steps></app-sidebar-steps>
      <div class="contentright">
        <div class="contentrightBg nobg">
          <div class="reviewPayment boxshadow">
            <h5 class="stepPlan">Your plan</h5>
            <h1 class="reviewPayh1">Premium with Search Result Optimization</h1>
            <div class="steperSubscription">
              <div class="subscriptionLeft">
                <p class="subscpPara">Subscription</p>
                <p class="subscpPara">Yearly, billed annually</p>
              </div>
              <div class="subscriptionRight">
                <span>$1,250/year</span>
              </div>
            </div>
            <div class="stepSubsTotal">
              <p class="subTotalPara">Subscription</p>
              <span class="subTotalPrice">$1,250</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
