.shareBoxFixed {
  padding: 15px;
  height: 600px;
  overflow: auto;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.headingh1{
  font-weight: 800 !important;
}
/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group]>.mat-tree-node {
  padding-left: 40px;
}
.emergbrief{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// Continue button design

::ng-deep .healthContinue {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 0;
}

::ng-deep .healthContinue .btn-primary {
  background: var(--primaryLight);
  border-color: var(--primaryLight);
  padding: 11px 10px;
  border-radius: 10px;
  font-size: 18px;
}

::ng-deep .deleteButton {
  border: none;
  color: #164789;
  padding: 2px 15px 2px 0px;
}


.headingbgBtn {
  min-width: 265px;
}
// .headingbgBtn a{
//   font-size: 16px;
// }

.contentrightBg {
  border: 1px solid #8AD5FF;
}

.addBriefCombine .btn-primary.parentClass {
  min-width: 111px;
  background: var(--primaryLight);
  border-color: var(--primaryLight);
}

.addBriefCombine .btn-danger.parentClass {
  margin-right: 20px;
  min-width: 111px;
  background: #772162;
  border-color: #772162;
} 
.addBriefCombine .parentClass {
  height: 46px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.addBriefCombine .btn-danger.parentClass svg {
  margin-right: 0;
}
.addBriefCombine svg {
  margin-right: 0;
}

.textClass {
  color: var(--primaryLight);
  font-family: "Nunito";
  font-size: 16px;
  font-size: 1;
  font-weight: 800;
  margin-bottom: 2px;
  display: block;
  text-decoration: underline;
}

::ng-deep {
  .mat-checkbox-inner-container {
    display: inline-block;
    visibility: hidden !important;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
  }
}


::ng-deep .addBriefCross.crossflex a.btn-primary {
  background: var(--primaryLight);
  border-color: var(--primaryLight);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  height: 46px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width:767px){
  ::ng-deep .healthContinue .btn-primary {
    font-size: 16px;
  }
  ::ng-deep .addBriefCross.crossflex a.btn-primary {
    display: none;
  }
}
