<!-- advertise_space Start -->
<section id="advertise_space" class="main_block advertiseSpace">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 image_side">
        <img
          src="../../../assets/images/advertising_space.png"
          alt="service_image"
        />
      </div>
      <div class="col-sm-6 content_side">
        <div class="main_block">
          <div class="sect_head">
            <h2 class="sect_title">Advertising space goes here.</h2>
          </div>
          <p>Secondary line that catches the eye.</p>
          <a href="javascript:void(0)" class="btn btn-primary btn-custom-desg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- advertise_space End -->
