.childYearDropdowns .SelectTime mat-label {
    width: 100%;
}

::ng-deep .detailsRow.dropdwnstep8 span.mat-select-min-line {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    color: #b9b9b9;
}
::ng-deep .SelectTime.arrowmodi .mat-select-trigger::after {
    top: -6px;
}
::ng-deep .cdk-overlay-container .cdk-overlay-pane {
    margin-top: 50px !important;
}
