<div class="enrollmentDocsPopup">
      <div class="">
        <div class="onlinebgPop">
          <h1 class="headingh1">Enrollment Documents | {{data?.child?.first_name}} {{data?.child?.last_name}}</h1>
        </div>
        <div class="onlinePopButtonlist">
          <button mat-stroked-button color="primary">Signed Enrollment Forms</button>
          <button mat-stroked-button color="primary">Physician’s Report</button>
          <button mat-stroked-button color="primary">Child Vaccination Report</button>
          <button mat-stroked-button color="primary">Provider Contract</button>
        </div>
        <div class="onlinepopBtn">
          <button mat-stroked-button (click)="closeModal()" class="strokeBtn">
            Close
          </button>
        </div>
      </div>
  </div>
  