.ratingWhiteList mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: white;
}

.reviewActionsBtn .buttonPre.whiteBtn {
  min-width: 122px;
  height: 71px;
  padding: 0px 30px;
}

.reviewActionsBtn .buttonPre.blueBtn {
  width: 214px;
  height: 64px;
  padding: 0px 30px;
}

@media screen and (max-width:767px) {
  .ratingWhiteList {
    display: flex;
  }
  .ratingWhiteList mat-icon {
    font-size: 20px;
    width: 20px;
    // height: 18px;
    line-height: 36px;
    color: white;
  }
  ::ng-deep.mat-typography p{
    font-size: 9.1px !important;
  }
}
