::ng-deep .CustomModal .mat-dialog-container {
  border-radius: 20px;
  overflow: hidden;
}

.providerModal {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: #0e2e58;
  border: 1px solid #95f2ff;
  padding: 30px 50px;
  border-radius: 20px;
  color: #fff;
  position: relative;
}
.providerModal .btnClose {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  color: var(--whiteColor);
  border: none;
  outline: none;
}
.providerModal .btnClose .mat-icon {
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.innerBox {
  background-color: var(--whiteColor);
  color: #000;
  padding: 15px;
}

.modalButton {
  background: var(--primaryLight);
  color: var(--whiteColor);
  font-size: 24px;
  font-weight: 400;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modalButton input[type] {
  margin-top: 0;
}
.btn-outline-primary {
  font-size: 24px;
  font-weight: 400;
  color: var(--primaryLight);
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-color: var(--primaryLight);
}
.btn-outline-primary:hover {
  background: transparent;
}
.btn-outline-primary input[type] {
  margin-top: 0;
  border: 1px solid var(--primaryLight);
}

.termContent {
  width: 100%;
  max-height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.termHeading {
  padding: 0 0 20px;
}
.termHeading h1.headingh1 {
  font-family: "Nunito";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin: 0;
}
.termHeading p.paratop {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0 0;
}
.termContent .termPara {
  color: var(--blackColor);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.termContent .termh4 {
  color: var(--blackColor);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 2px;
}
.termContent span.strng {
  font-weight: 800;
}

.termUnderList .termList {
  color: var(--blackColor);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.checkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .checkBtn .form-check-input[type="checkbox"] {
  background: transparent;
  border-radius: 0.1em !important;
  border: 1.5px solid var(--whiteColor);
  width: 18px;
  height: 18px;
}

::ng-deep .modalButton .form-check-input[type="checkbox"] {
  border: 1.5px solid var(--whiteColor);
}
::ng-deep .modalButton .form-check-input:checked {
  background-color: var(--whiteColor) !important;
  border-color: var(--whiteColor) !important;
}

::ng-deep .termsAndCondition .form-check-input:checked {
  background-color: transparent !important;
  border-color: var(--whiteColor) !important;
}

::ng-deep
  .termsAndCondition
  .form-check-input:checked[type="checkbox"]::before {
  background: var(--whiteColor);
}
@media screen and (max-width: 575px) {
  ::ng-deep.cdk-overlay-pane.CustomModal {
    width: 100vw !important;
    max-height: 100% !important;
  }
  .termHeading h1.headingh1,
  .termContent .termh4,
  .termContent .termPara,
  .modalButton,
  .btn-outline-primary {
    font-size: 18px;
    line-height: 29px;
  }

  .providerModal {
    padding: 30px 30px;
  }
  .innerBox {
    border-radius: 10px;
  }
}
