<div class="providerModal">
  <div class="termHeading">
    <h1 class="headingh1">KIDS CARE FINDER PROVIDER TERMS OF USE</h1>
    <!-- <p class="paratop">Please read all terms and conditions before continuing</p> -->
    <button type="button" class="btnClose" (click)="submitUserReason(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="innerBox">
    <div class="termContent">
      <!-- <h3 class="termh3"><u>Acceptance of the Provider Terms of Use</u></h3> -->
      <h4 class="termh4 fw-bolder">
        <u
          ><span class="strng">Acceptance of the Provider Terms of Use</span></u
        >
      </h4>
      <p class="termPara">
        These terms of use are entered into by and between You and Kids Care
        Finder LLC (“Company,” “we,” or “us”). The following terms and
        conditions, together with any documents they expressly incorporate by
        reference (collectively, “<span class="strng">Terms of Use</span>”),
        govern your access to and use of www.kidscarefinder.com, including any
        content, functionality and services offered on or through
        www.kidscarefinder.com (the “Website”), as a third party engaging with
        the Company for its services.
      </p>
      <p class="termPara">
        Please read the Terms of Use carefully before you start to use the
        Website.
        <span class="strng"
          >By using the Website or by clicking to accept or agree to the Terms
          of Use when this option is made available to you, you accept and agree
          to be bound and abide by these Provider Terms of Use; the User Terms
          of Use, found at
          <a
            href="javascript:void(0)"
            (click)="openSignupTerms('openSignupTerms')"
            >User Terms</a
          >
          and our Privacy Policy, found at
          <a
            href="javascript:void(0)"
            target="_blank"
            [routerLink]="['/privacy-policy']"
          >
            Privacy Policy</a
          >
          incorporated herein by reference. However, if you are utilizing the
          Services (as defined herein), any conflict between these Provider
          Terms of Use and the User Terms of Use shall be governed by these
          Provider Terms of Use.</span
        >If you do not want to agree to these Terms of Use or the Privacy
        Policy, you must not access or use the Website.
      </p>
      <p class="termPara">
        This Website is offered and available to users who are 18 years of age
        or older. By using this Website, you represent and warrant that you are
        of legal age to form a binding contract with the Company and meet all of
        the foregoing eligibility requirements. If you do not meet all of these
        requirements, you must not access or use the Website. The Services
      </p>
      <h4 class="termh4"><u>The service</u></h4>
      <p class="termPara">
        The Company provides a number of services to providers through the
        Website, which shall be governed by these Terms of Use (the “Services”).
        The scope and cost of the Services can be found elsewhere on the Website
        at the point of purchase. The Company reserves the right to amend,
        expand, and/or terminate any Services offered at any time, with or
        without notice to you.
      </p>
      <p class="termPara">
        By using the Services, you agree that it is solely your responsibility
        to evaluate your risks associated with the use, accuracy, usefulness,
        completeness, appropriateness or legality of any Service Provider
        Content (as defined below) that you publish through use of the Website
        and/or use of the Services. You understand that the users of the Website
        are not agents of the Company, which merely provides the Website as a
        platform for users to connect with service providers and post User
        Reviews, actions over which the Company bears no agency.
      </p>
      <p class="termPara">
        The Company is under no obligation to provide the Services to you or any
        other user/service provider and may terminate your access to the Website
        and/or refuse to provide the Services to you at any time for any reason
        or no reason at all. Moreover, the Company may suspend, restrict or
        terminate your use of the Services, the Website, or any portion thereof
        if you breach or fail to comply with any of these Terms of Use.
      </p>
      <p class="termPara">
        The Company is under no obligation at any time to provide you or any
        service provider any refunds for any amounts paid pursuant to the
        Services.
      </p>
      <p class="termPara">
        You agree and acknowledge that, in rendering the Services, the Company
        is relying upon the truthfulness, completeness, and accuracy of Service
        Provider Content.
      </p>
      <p class="termPara">
        To the extent a third-party acts on your behalf through the Website, you
        hereby acknowledge and agree that you shall remain fully responsible for
        any Service Provider Content, information posted, or any action taken on
        the Website by such third party on your behalf.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><span class="strng">Representations and Warranties</span></u>
      </h4>
      <p class="termPara">You hereby represent and warrant that:</p>
      <ul class="termUnderList">
        <li class="termList">
          Individuals affiliated with you including, without limitation, current
          or former owners, current or former employees or officers, family
          members, or current or former partners, investors, managers or
          directors shall class="termList" not submit User Reviews to the
          Company about you.
        </li>
        <li class="termList">
          All information provided to the Company (via the Website, public, or
          otherwise) and users of the Website by you is true, complete and
          accurate in all respects.
        </li>
        <li class="termList">
          You shall update any and all information submitted to the Company (via
          the Website, public, or otherwise) and users of the Website including,
          without limitation, your address, phone number, and any
          class="termList" other information relevant to the service provided.
        </li>
        <li class="termList">
          You shall not to use or cause any robot, bot, spider, other automatic
          device, or computer program routine or manual process to monitor,
          duplicate, take, obtain, transfer, modify, use, reproduce, aggregate
          or copy any class="termList" User Reviews, user information, Service
          Provider Content, or any other content contained on the Website.
        </li>
        <li class="termList">
          You shall not access, copy, duplicate use, reproduce, alter, modify,
          create derivative works, display, sell, re-sell, advertise or market
          with or otherwise exploit for any commercial, educational or other
          purpose any class="termList" User Reviews, any Service Provider
          Content, or any other content from the Website, the Company, or any
          users including, without limitation, any content contained in any User
          Reviews, user profiles, and/or service provider profiles.
        </li>
        <li class="termList">
          You are authorized to act on behalf of any business on behalf of which
          you engage with the Website and/or the Services.
        </li>
        <li class="termList">
          You shall not use or cause any device, software, or routine to
          interfere or attempt to interfere with the proper working of the
          Website.
        </li>
      </ul>
      <h4 class="termh4 fw-bolder">
        <u
          ><span class="strng"
            >User Reviews and Service Provider Content</span
          ></u
        >
      </h4>
      <p class="termPara">
        Users may submit a review or other content regarding your business and
        operations (collectively, “User Reviews”). Your sole course of action
        with respect to such User Reviews, should you dispute the contents,
        shall be by and between you and the user that posted such User Review
        and the Company shall bear no obligation pertaining to any User Review
        unless directed by a court order. However, the Company may (in its sole
        and absolute discretion) take any action it deems reasonable pertaining
        to such User Reviews.
      </p>
      <p class="termPara">
        The Company does not endorse and is not responsible or liable for any
        User Reviews, and/or any information, responses, writings or other
        materials that you submit, transmit or otherwise convey through use of
        the Website and/or use of the Services (“Service Provider Content”),
        advertising, products, services, or any other representations or
        statements made by you, other service providers, or other users on the
        Website. The statements, information and ratings contained in any User
        Reviews are solely the opinion of the user submitting such User Reviews
        and do not reflect the opinion of the Company or any of its respective
        members, managers, officers, employees, or agents.
      </p>
      <p class="termPara">
        The Website and its service provider listings are for informational
        purposes only, with a goal of connecting users to professionals.
        Additionally, the Website allows users the opportunity to publish User
        Reviews and service providers to produce Service Provider Content. The
        Company does not have any duty or obligation to investigate the accuracy
        of User Reviews or the quality of the work performed by you or any other
        service provider which is the subject of any User Reviews.
      </p>
      <p class="termPara">
        Under no circumstances will the Company be liable in any way for any
        User Reviews or Service Provider Content including, but not limited to,
        any User Reviews or Service Provider Content that contains, errors,
        omissions or defamatory statements, or for any loss or damage of any
        kind incurred as a result of the use of any User Reviews or Service
        Provider Content submitted, accessed, transmitted or otherwise conveyed
        via the Website or use of the Services or otherwise.
      </p>
      <p class="termPara">
        In consideration of your use of the Services, you hereby waive any
        claims, rights or actions that it may have against the Company or any of
        its affiliates or subsidiaries with respect to any User Reviews or
        Service Provider Content and releases the Company and each of its
        affiliates and subsidiaries from any and all liability for or relating
        to User Reviews or Service Provider Content.
      </p>
      <p class="termPara">
        Service Provider Content shall not contain any unauthorized content
        which includes but is not limited to:
      </p>
      <ul class="termUnderList">
        <li class="termList">
          Offensive, harmful and/or abusive language, as judged in the sole and
          absolute discretion of the Company;
        </li>
        <li class="termList">
          Content that contains personal attacks or describes physical
          confrontations and/or sexual harassment;
        </li>
        <li class="termList">
          Messages that are advertising or commercial in nature, or are
          inappropriate based on the applicable subject matter;
        </li>
        <li class="termList">
          Language that violates the Company’s standards of quality, as
          determined by the Company in its sole discretion; and/or
        </li>
        <li class="termList">
          Content determined by the Company, in its sole and absolute
          discretion, to be illegal, or to violate any federal, state, or local
          law or regulation or the rights of any other person or entity.
        </li>
      </ul>
      <p class="termPara">
        You acknowledge and agrees that the Company may remove any Service
        Provider Content or any portion thereof that the Company deems violative
        of its standards, in its sole and absolute discretion.
      </p>
      <p class="termPara">
        Although the Company does not claim ownership of any Service Provider
        Content or other communications or materials submitted by or given by
        you to the Company, by providing Service Provider Content for the
        Website or other mediums, you automatically grant, and you represent and
        warrant that you have the right to grant, to the Company an irrevocable,
        perpetual, non-exclusive, fully paid, worldwide license to use, copy,
        perform, display, reproduce, adapt, modify, and distribute such Service
        Provider Content and to prepare derivative works of, or incorporate into
        other works, such Service Provider Content, and to grant and to
        authorize sublicenses (through multiple tiers) of the foregoing. In
        addition, by providing the Company with Service Provider Content, you
        automatically grant the Company all rights necessary to prohibit the
        subsequent aggregation, display, copying, duplication, reproduction or
        exploitation of Service Provider Content on the Website or in any other
        medium by any other party. No compensation will be paid with respect to
        the Company use of Service Provider Content.
      </p>
      <p class="termPara">
        It is your sole responsibility to review and monitor any User Reviews
        regarding you that is posted by Consumers and to submit responses it
        deems necessary to any User Reviews. The Company does not have any
        obligation to provide a notice or update to you with respect to any new
        information or User Reviews that it learns of or receives about you from
        other users.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><span class="strng">Changes to the Terms of Use</span></u>
      </h4>
      <p class="termPara">
        We may revise and update these Terms of Use from time to time in our
        sole discretion. All changes are effective immediately when we post
        them, and apply to all access to and use of the Website thereafter.
        However, any changes to the dispute resolution provisions set forth in
        Governing Law and Jurisdiction will not apply to any disputes for which
        the parties have actual notice on or prior to the date the change is
        posted on the Website.
      </p>
      <p class="termPara">
        Your continued use of the Services following the posting of revised
        Terms of Use means that you accept and agree to the changes. You are
        expected to check this page from time to time so you are aware of any
        changes, as they are binding on you.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><span class="strng">Disclaimer of Warranties</span></u>
      </h4>
      <p class="termPara">
        You understand that we cannot and do not guarantee or warrant that files
        available for downloading from the internet or the Website will be free
        of viruses or other destructive code. You are responsible for
        implementing sufficient procedures and checkpoints to satisfy your
        particular requirements for anti-virus protection and accuracy of data
        input and output, and for maintaining a means external to our site for
        any reconstruction of any lost data.
      </p>
      <p class="termPara text-uppercase">
        WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED
        DENIAL-OF- SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL
        MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS,
        DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY
        SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF
        ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.
      </p>
      <p class="termPara text-uppercase">
        YOUR USE OF THE WEBSITE, ITS CONTENT, PROVISION OF ANY SERVICE PROVIDER
        CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT
        YOUR OWN RISK. THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS
        OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN “AS IS” AND “AS
        AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR
        IMPLIED. NEITHER THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY
        MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS,
        SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE,
        ANY REPRESENTATIONS MADE BY ANY SERVICE PROVIDER THEREON, OR THE QUALITY
        OF ANY SERVICE PROVIDER. WITHOUT LIMITING THE FOREGOING, NEITHER THE
        COMPANY NOR ANYONE ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS
        THAT THE WEBSITE, ITS CONTENT OR ANY SERVICES OBTAINED FROM ANY SERVICE
        PROVIDER ON THE WEBSITE WILL BE OF ANY SPECIFIC QUALITY, ACCURATE,
        RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED,
        THAT OUR SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES
        OR OTHER HARMFUL COMPONENTS OR THAT THE WEBSITE OR ANY SERVICES OR ITEMS
        OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR
        EXPECTATIONS.
      </p>
      <p class="termPara text-uppercase">
        THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS
        OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY
        WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR
        PARTICULAR PURPOSE.
      </p>
      <p class="termPara text-uppercase">
        THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR
        LIMITED UNDER APPLICABLE LAW.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><span class="strng">Limitation on Liability</span></u>
      </h4>
      <p class="termPara text-uppercase">
        TO THE FULLEST EXTENT PROVIDED BY LAW, IN NO EVENT WILL THE COMPANY, ITS
        AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS,
        OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL
        THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO
        USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE
        OR SUCH OTHER WEBSITES, SERVICE PROVIDER CONTENT, OR USER REVIEWS,
        INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR
        PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN
        AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS,
        LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL,
        LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH
        OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
      </p>
      <p class="termPara text-uppercase">
        THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR
        LIMITED UNDER APPLICABLE LAW. SPECIFICALLY, THE FOREGOING IS NOT
        INTENDED TO LIMIT THE COMPANY’S LIABILITY FOR GROSS NEGLIGENCE OR
        WILLFUL MISCONDUCT BY THE COMPANY.
      </p>
      <h4 class="termh4">
        <u><span class="strng">Indemnification</span></u>
      </h4>
      <p class="termPara">
        You agree to defend, indemnify and hold harmless the Company, its
        affiliates, licensors and service providers, and its and their
        respective officers, directors, employees, contractors, agents,
        licensors, suppliers, successors and assigns from and against any
        claims, liabilities, damages, judgments, awards, losses, costs, expenses
        or fees (including reasonable attorneys' fees) arising out of or
        relating to your violation of these Terms of Use or your use of the
        Website and/or the Services generally, including, but not limited to
        your Service Provider Content, provision of services to any user with
        which you engage through the Website, any use of the Website's content,
        any interaction with any user, and/or your use of any information
        obtained from the Website.
      </p>
      <h4 class="termh4">
        <u><span class="strng">Governing Law and Jurisdiction</span></u>
      </h4>
      <p class="termPara">
        All matters relating to the Website and these Terms of Use, and any
        dispute or claim arising therefrom or related thereto (in each case,
        including non-contractual disputes or claims), shall be governed by and
        construed in accordance with the internal laws of the State of
        California without giving effect to any choice or conflict of law
        provision or rule (whether of the State of California or any other
        jurisdiction).
      </p>
      <p class="termPara">
        Any legal suit, action or proceeding arising out of, or related to,
        these Terms of Use or the Website shall be instituted exclusively in the
        federal courts of the United States or the courts of the State of
        California, in each case located in the City of San Diego and County of
        San Diego,. You waive any and all objections to the exercise of
        jurisdiction over you by such courts and to venue in such courts.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><strong>Arbitration</strong></u>
      </h4>
      <p class="termPara">
        To expedite resolution and reduce the cost of any dispute, controversy
        or claim, past, present, or future, between you and the Company,
        including without limitation any dispute or claim related to or arising
        out of this Agreement (“Dispute”), you and the Company may attempt to
        negotiate and settle such matter. The Company will provide notice to you
        at the physical address that you have provided to the Company. The
        Company’s address for such notices is: 6965 El Camino Real, Suite 105,
        #457, Carlsbad, CA 92009,
      </p>
      <p class="termPara">
        If a Dispute is not resolved you agree to resolve any and all Disputes
        (except those Disputes expressly excluded below) through final and
        binding arbitration (“Arbitration Agreement”). This Arbitration
        Agreement shall be governed by the Federal Arbitration Act and evidences
        a transaction involving commerce. Unless otherwise agreed in writing,
        arbitration will be commenced and conducted before a single arbitrator
        under the Commercial Arbitration Rules (the “AAA Rules”) of the American
        Arbitration Association (“AAA”) and, where appropriate, the AAA's
        Supplementary Procedures for Consumer Related Disputes (“AAA Consumer
        Rules”), both of which are available at the AAA website (www.adr.org).
        Your arbitration fees and your share of arbitrator compensation will be
        governed by the AAA Rules (and, where appropriate, limited by the AAA
        Consumer Rules). Each party will pay the fees for his/her or its own
        attorneys, subject to any remedies to which that party may later be
        entitled under applicable law. The arbitrator will make a decision in
        writing. Additionally, the arbitrator, and not any federal, state, or
        local court or agency, shall have the exclusive authority to resolve any
        dispute relating to the interpretation, applicability, enforceability,
        or formation of this Arbitration Agreement other than that pertains to
        the class action waiver described below.
      </p>
      <p class="termPara">
        You and the Company agree that the following Disputes are excluded from
        this Arbitration Agreement: (i) any Dispute seeking to enforce or
        protect, or concerning the validity of, any of your or our intellectual
        property rights; (ii) individual claims in small claims court; (iii) any
        claim that an applicable federal statute expressly states cannot be
        arbitrated; and (iv) any claim for injunctive relief.
      </p>
      <p class="termPara">
        WAIVER OF RIGHT TO BE A PLAINTIFF OR CLASS MEMBER IN A CLASS ACTION. To
        fullest extent permitted by applicable law, You and the Company agree to
        bring any Dispute in arbitration on an individual basis only, and not as
        a class or collective action. There will be no right or authority for
        any Dispute to be brought, heard or arbitrated as a class or collective
        action (“Class Action Waiver”). Regardless of anything else in this
        Arbitration Agreement and/or the applicable AAA Rules or AAA Consumer
        Rules, the interpretation, applicability, enforceability or formation of
        the Class Action Waiver may only be determined by a court and not an
        arbitrator.
      </p>
      <p class="termPara">
        A party who wishes to arbitrate a Dispute covered by this Arbitration
        Agreement must initiate an arbitration proceeding no later than the
        expiration of the statute of limitations that applicable law prescribes
        for the claim asserted. The arbitrator shall apply the statute of
        limitations that would have applied if the Dispute had been brought in
        court. The arbitrator may award any remedy to which a party is entitled
        under applicable law, but remedies shall be limited to those that would
        be available to a party in their individual capacity, and no remedies
        that otherwise would be available to an individual under applicable law
        will be forfeited. The arbitrator is without authority to apply any
        different substantive law. The parties have the right to conduct
        adequate civil discovery and present witnesses and evidence as needed to
        present their cases and defenses, and any dispute in this regard shall
        be decided by the arbitrator. The location of the arbitration proceeding
        shall take place in the city or county where you reside, unless each
        party agrees otherwise. A court of competent jurisdiction shall have the
        authority to enter judgment upon the arbitrator's decision/award.
      </p>
      <p class="termPara">
        If any portion of this Section entitled “Arbitration” is found illegal
        or unenforceable, that portion will be severed, and the remainder of
        this Section will be given full force and effect.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><strong>Limitation on Time to File Claims</strong></u>
      </h4>
      <p class="termPara text-uppercase">
        ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO
        THESE TERMS OF USE OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1) YEAR
        AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION OR
        CLAIM IS PERMANENTLY BARRED.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><strong>Arbitration</strong></u>
      </h4>
      <p class="termPara">
        No waiver of by the Company of any term or condition set forth in these
        Terms of Use shall be deemed a further or continuing waiver of such term
        or condition or a waiver of any other term or condition, and any failure
        of the Company to assert a right or provision under these Terms of Use
        shall not constitute a waiver of such right or provision.
      </p>
      <p class="termPara">
        If any provision of these Terms of Use is held by a court or other
        tribunal of competent jurisdiction to be invalid, illegal or
        unenforceable for any reason, such provision shall be eliminated or
        limited to the minimum extent such that the remaining provisions of the
        Terms of Use will continue in full force and effect.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><strong>Entire Agreement</strong></u>
      </h4>
      <p class="termPara">
        These Provider Terms of Use, the User Terms of Use (to the extent they
        do not conflict with these Provider Terms of Use), our Privacy Policy,
        and Copyright Policy, and any other disclaimers located on the Website
        constitute the sole and entire agreement between you and Kids Care
        Finder LLC with respect to the Website and supersede all prior and
        contemporaneous understandings, agreements, representations and
        warranties, both written and oral, with respect to the Website.
      </p>
      <h4 class="termh4 fw-bolder">
        <u><strong>Your Comments and Concerns</strong></u>
      </h4>
      <p class="termPara">
        All notices of copyright infringement claims should be sent to the
        copyright agent designated in our Copyright Policy in the manner and by
        the means set forth therein.
      </p>
      <p class="termPara">
        All other feedback, comments, requests for technical support and other
        communications relating to the Website should be directed to:
        providersupport@kidscarefinder.com.
      </p>
      <div class="text-center text-wrap">
        <div class="checkBtn">
          <button
            type="checkbox"
            class="btn modalButton"
            (click)="submitUserReason(true)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkAccept"
            />
            Accept Terms and Conditions
          </button>
        </div>
        <div class="checkBtn">
          <button
            type="checkbox"
            class="btn btn-outline-primary"
            (click)="submitUserReason(false)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkDeckline"
            />
            Decline Terms and Conditions
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
