<div class="mainBgColor homeBgNo">
  <div class="bannerBg">
    <app-header></app-header>
    <!-- ============= banner blue bar start ============= -->
    <div class="bannerBluebar">
      <div class="container-fluid g-0">
        <div class="row">
          <div class="col-12">
            <div class="bluebar">
              <h3 class="blueTexth3">
                Kids Care Finder is working hard on some final details and
                getting local providers added to the site. We will be officially
                launching in San Diego County this
                <span class="block">
                  <u class="blueBold">Mother’s Day weekend!</u></span
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= banner blue bar exit ============= -->
    <section id="banner" class="main_block sectionBanner">
      <div class="container-fluid paddingXsm">
        <div class="row">
          <div class="col-12">
            <div class="main_block sect_head banner">
              <h2 class="homeTitle homeTitle-mobile">
                What are you looking for?
              </h2>
            </div>
            <!-- Carousel Section Start -->
            <!--            <kcf-slider [slides]="slides"></kcf-slider>-->
            <!-- Carousel Section End -->
            <div class="bannerMargin">
              <app-slick-carousel [slides]="slides"></app-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Provider Section Start -->
  <section id="find_provider" class="main_block">
    <div class="main_block provider_heading">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="sect_head">
              <h2 class="sect_title">
                Find a provider quickly and easily for each stage of your
                child’s development journey
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Multiple Buttons Start -->
    <div class="main_block provider_serv">
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md provider_block">
            <a routerLink="/">Babysitter</a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="/">Private nanny</a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="/">Nanny share</a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="/">In-home daycare</a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="/">Daycare center</a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="preschool"> Preschool </a>
          </div>
          <div class="col-md provider_block">
            <a routerLink="/">Private school (TK-12)</a>
          </div>
        </div> -->
        <div class="roww tilesLine">
          <div class="tilesLinebtn provider_block">
            <a routerLink="/">Babysitter</a>
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Private <br />
              nanny</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Nanny <br />
              share</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >In-home <br />
              daycare</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Daycare <br />
              center</a
            >
          </div>
          <div class="tilesLinebtn prenew provider_block">
            <a routerLink="preschool"> Preschool </a>
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Private school <br />
              (TK-12)</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Before/ <br />
              aftercare</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Sports & <br />
              recreation</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Summer <br />
              camps</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Music <br />
              teachers</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/">Tutors</a>
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/"
              >Parent & me <br />
              classes</a
            >
          </div>
          <div class="tilesLinebtn provider_block">
            <a routerLink="/">Special needs programs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Multiple Buttons Start -->
  </section>
  <!-- Provider Section End -->

  <!-- advertise_space Start -->
  <section id="advertise_space" class="main_block advertiseSpace">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 image_side">
          <img
            src="../../../assets/images/advertising_space.png"
            alt="service_image"
          />
        </div>
        <div class="col-sm-6 content_side">
          <div class="main_block">
            <div class="sect_head">
              <h2 class="sect_title">Advertising space goes here.</h2>
            </div>
            <p class="secondaryMobile">Secondary line that catches the eye.</p>
            <a
              href="javascript:void(0)"
              class="btn btn-primary btn-custom-desg secondaryMobile_anchor"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- advertise_space End -->
</div>
<div class="reverseMobile">
  <!-- available_kids Section Start -->
  <section id="available_kids" class="availableKids">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sect_head">
            <h2 class="sect_title">
              Kids Care Finder is currently available in all of
              <a class="sanAnchor" href="javascript:void(0)"
                >San Diego County</a
              >
            </h2>
          </div>
          <p>
            Check back soon as we are working hard to quickly expand to
            additional cities in Southern California.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- available_kids Section Start -->
  <!-- our_mission Section Start -->
  <section id="our_mission">
    <div class="missionFlex">
      <div class="image_side mobile-hide">
        <!-- <img src="../../../assets/images/mission_hand.svg" class="img-responsive" alt="mission_hand"> -->
      </div>
      <div class="content_side">
        <div class="content_inner main_block">
          <h2 class="sect_title">Our Mission</h2>
          <!-- <img
            src="../../../assets/images/mission_hand.svg"
            class="img-responsive mission_hand_movile"
            alt="mission_hand"
          /> -->
          <img
            src="../../../assets/images/mission_hand.jpg"
            class="img-responsive mission_hand_movile"
            alt="mission_hand"
          />
          <p class="missionPara missionPara-resize mobile-size-font">
            Kids Care Finder is dedicated to making the process of finding any
            type of childcare as simple, fast, and hassle-free as possible for
            both our families and providers. We connect our users with all types
            of care categories, and make it easy to determine which providers
            are the right fit for each family's unique needs. Prospective
            families are also able to view ratings and reviews on our providers,
            and see a significant amount of information on each provider on one
            screen, saving dozens of hours calling and emailing providers to ask
            the same basic questions.
          </p>
          <p class="missionPara missionPara-resize mobile-size-font">
            Using Kids Care Finder, our providers will also have access to
            quickly communicate with prospective parents, easily manage a
            waitlist, accept online applications, and receive required
            enrollment documents 100% electronically.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- our_mission Section End -->
<app-footer></app-footer>
