::ng-deep.mat-form-field-label-wrapper {
  top: -5px;

  .mat-form-field-label mat-label {
    color: #164789;
    font-size: 25px;
    font-weight: 800;
    line-height: 1;
  }
}

input {
  border: 1px solid #164789;
}
