.historyHealthBox {
  background: var(--whiteColor);
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.historyhTitle .historyh3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.shareBoxFixed {
  padding: 0;
  height: 745px;
  overflow: auto;
}

.contentrightBg {
  border: 1px solid #8AD5FF;
}

@media screen and (max-width:991px) {
  .historyHealthBox {
    padding: 15px;
  }
  .contentBoxGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width:767px) {
  .contentrightBg{
    border: none;
  }
  span.emlicon {
    display: none;
  }
  .headingbg{
    background-color: transparent;
  }
  .contentrightBg{
    background-color: transparent;
  }
  .headingbg h1.headingh1{
    font-weight: 800 !important;
    text-align: center;
  }
  .headingbg{
    border-bottom: none;
    padding: 0px;
    margin-top: 15px;
  }
  .historyhTitle .historyh3{
    font-size: 16px;
    font-weight: 800;
  }
  .contentCoverBox a.suportbtn{
    font-size: 12px !important;
    font-weight: 700 !important;
    border-radius: 25px !important;
  }
  .contentBoxVideoLabel{
    padding: 0px;
  }
  .contentBoxVideoLabel p.videoLabel{
    font-size: 16px;
  }
}
