.shareBoxFixed {
  padding: 15px;
  height: 625px;
  overflow: auto;
}

.contentrightBg {
  border: 1px solid #8AD5FF;
}
::ng-deep  .mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: #ffff !important;
}

/* ===================== user signup health history css start =====================*/
.inputColorsize {
  color: var(--primaryLight);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

.mandatory {
  color: red;
  margin-left: 5px !important;
}

.healthSelectOut {
  width: 250px;
}

.healthSelect {
  width: 333px;
  height: 37px;
  border: 1px solid #000;
  padding: 5px 10px;
}

::ng-deep .healthSelect .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

::ng-deep .healthSelect .mat-form-field-infix {
  border-top: 0px;
}

mat-label {
  color: var(--blackColor) !important;
  font-weight: bold;
}

::ng-deep .mat-select .mat-select-value {
  color: #292929;
}

::ng-deep .healthSelect .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: var(--whiteColor);
  border: 1px solid var(--primaryColor);
  border-radius: 0px;
  padding: 0em .75em 0 .75em;
}

::ng-deep .healthSelect .mat-form-field-label-wrapper {
  top: -22px;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
}

::ng-deep .healthSelect .mat-form-field-label-wrapper label {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: initial;
}

::ng-deep .healthSelect .mat-form-field-type-mat-select .mat-select {
  border: 0px solid #d9d9d9;
  padding: 0px;
}

::ng-deep .healthSelect .mat-select-arrow-wrapper {
  margin-top: 0px;
}


.historyHealth {
  padding: 15px;
}

.historyHealthBox {
  background: var(--whiteColor);
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.historyhTitle .historyh3 {
  font-family: 'Nunito';
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0px;
}

.historyhTitle h6.developh6 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-top: 8px;
}

.historyhTitle p.paragray {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.historyhTitleP {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.historyBasic {
  width: auto;
}

.historyBasic .historyChild {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.historyChild35 {
  width: 35%;
}

.historyChild65 {
  width: 65%;
  display: flex;
  gap: 15px;
}

.historygender {
  width: 64px;
}

.historybirth ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.historybirth ul li {
  padding-right: 10px;
}

.historybirth ul li:last-child {
  padding-right: 0px;
}

.historybirth ul li .hsseloption {
  background: transparent;
  padding: 5px 7px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}


.historyDomest40 {
  width: 40%;
}

.historyDomest60 {
  width: 60%;
}

.historyDomest60 .historyDomest100 {
  width: 100%;
}

.healthInput .inputGroup label {
  color: var(--primaryLight);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.inputGroup .inputBlock {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid var(--primaryColor);
}

.yesNo {
  display: flex;
  gap: 15px;
}

.yesNo .btn-light {
  background: var(--whiteColor);
  padding: 8px 12px;
  min-width: 55px;
  border: 1px solid #D9D9D9;
}

.yesNo .btn-light .btn-check:checked + .btn,
.yesNo .btn-light .btn.active,
.yesNo .btn-light .btn.show,
.yesNo .btn-light.btn:first-child:active,
.yesNo .btn-light:not(.btn-check) + .btn:active {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border-color: var(--whiteColor);
}

.yesNo .btn-light:hover {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border-color: var(--whiteColor);
}

.historyDeployGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.historybirth ul li span.selectside {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
  padding-left: 7px;
}

.historyDeployment .historyDomest100 {
  width: 100%;
}

.historyDeployGridItem ul li .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}

.historyIlluness {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.historyIllunessItem {
  width: auto;
}

.developSpecify .specifymb {
  margin-bottom: 30px;
}

.specifymb.marginBottom1 {
  margin-bottom: 0px !important;
}

.developSpecify .specifymb:first-child {
  margin-top: 30px;
}

.developColds .inputGroup label {
  color: var(--primaryLight);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

.developColds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.developColdsItem {
  width: auto;
}

.developColdsItem .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}

.developColdsItem span.selectside {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
  padding-left: 7px;
}

.yesNo .btn-outline-secondary {
  width: 54px;
  margin-right: 15px;
  border-color: #d9d9d9;
  color: #000;
}

.yesNo .btn-outline-secondary:last-child {
  margin-right: 0px;
}

.historyRoutine .inputGroup .form-label {
  color: var(--primaryLight);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.inputGroupTimeFlex {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.inputGroupTimeFlex .inputGroupTime {
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-top: 5px;
}

.historyRoutine .inputGroupTime .form-label-small {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.historyRoutine .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.inputGroupTime ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputGroupTime ul li {
  padding-right: 5px;
}

.inputGroupTime ul li:last-child {
  padding-right: 0px;
}

.developSpecify30 {
  width: 30%;
}

.developDuring {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 32%;
  gap: 15px;
  margin-top: 20px;
}


.historyhPattern {
  margin-top: 30px;
}

.dietcolor {
  color: var(--primaryLight);
}

.historyhFoodFlex85 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

.historyhFoodFlex85 .historyhFoodItem {
  width: 100%;
}

.historyhFoodFlex100 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

.historyhFoodFlex100 .historyhFoodItem {
  width: 100%;
}

.historyhFoodFlex100 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 70%;
}

.historyhFoodFlex100 .historyhFoodItem {
  width: 100%;
}

.yesNo .form-check.form-check-inline {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.yesNo label.form-check-label {
  font-size: 14px;
  color: var(--blackColor) !important;
}

.yesNo input.btn.btn-light {
  min-width: auto;
  padding: 0;
}


/* ===================== user signup health history css exit =====================*/

/* ===================== clock css start =====================*/
::ng-deep .timepicker__header {
  background-color: var(--primaryColor) !important;
  padding: 5px 30px !important;
}

::ng-deep .timepicker-dial__container {
  justify-content: center !important;
}

::ng-deep .timepicker__actions {
  justify-content: center !important;
  padding: 0px 15px 15px 15px !important;
}

::ng-deep .clock-face__number > span.active {
  background-color: var(--primaryLight) !important;
}

::ng-deep .timepicker-button {
  color: var(--primaryLight) !important;
}

/* ===================== clock css exit =====================*/


@media screen and (max-width: 1366px) {
  .developColds.developDuring.specifymb {
    grid-template-columns: repeat(2, 1fr) auto;
  }
}

@media screen and (max-width: 1199px) {
  .historyHealthBox {
    padding: 15px;
  }

  .healthInput .inputGroup label {
    font-size: 16px;
  }

  .historyRoutine .inputGroup .form-label {
    font-size: 16px;
  }

  .inputColorsize {
    font-size: 16px;
  }

  .historyhFoodFlex100 {
    width: 100%;
  }

  .developSpecify100.specifymb {
    width: 100%;
  }
}


@media screen and (max-width: 1080px) {
  .healthInput .inputGroup label {
    font-size: 16px;
    font-weight: 600;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyBasic .historyChild {
    flex-direction: column;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyRoutine .inputGroup .form-label {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .historyhTitle .historyh3 {
    font-size: 20px;
    font-weight: 600;
  }

  .historyHealthBox {
    padding: 15px;
  }

  .historyDeployGrid {
    gap: 10px;
  }

  .historybirth ul li span.selectside {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .healthInput .inputGroup label {
    font-size: 18px;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyhFoodFlex100 {
    grid-template-columns: repeat(1, 1fr);
  }

  .developColds.developDuring.specifymb {
    grid-template-columns: repeat(1, 1fr);
  }

  .historyChild65 {
    width: 100%;
  }

  .historyChild35 {
    width: 100%;
  }

  .historyDeployGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .developColds.specifymb {
    grid-template-columns: repeat(1, 1fr);
  }

  .historyhFoodFlex85 {
    grid-template-columns: repeat(1, 1fr);
  }

  .developSpecify30 {
    width: 100%;
  }


}

.historyhFoodYesno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

// .yesNo {
//   display: flex;
//   gap: 15px;
// }

.yesNo .btn-light {
  background: var(--whiteColor);
  padding: 8px 12px;
  min-width: 55px;
  border: 1px solid #D9D9D9;
}

.yesNo .btn-light .btn-check:checked + .btn,
.yesNo .btn-light .btn.active,
.yesNo .btn-light .btn.show,
.yesNo .btn-light.btn:first-child:active,
.yesNo .btn-light:not(.btn-check) + .btn:active {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border-color: var(--whiteColor);
}

.yesNo .btn-light:hover {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border-color: var(--whiteColor);
}

.yesNo .btn-light:focus {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border-color: var(--whiteColor);
}

mat-label {
  color: var(--blackColor) !important;
  font-weight: bold;
}

::ng-deep .mat-select .mat-select-value {
  color: #292929;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: var(--whiteColor);
  border: 1px solid var(--primaryColor);
  border-radius: 0px;
  padding: 0em .75em 0 .75em;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-underline::before {
  height: 0px;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-ripple {
  height: 0px;
}

::ng-deep .healthSelect .mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
}

::ng-deep .healthSelect .mat-form-field-label-wrapper label {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: initial;
}

::ng-deep .healthSelect .mat-form-field-type-mat-select .mat-select {
  border: 0px solid #d9d9d9;
  padding: 0px;
}

.yesRadio {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.yesRadio .mat-radio-group {
  display: flex;
  gap: 15px;
}

.yesRadio input.form-check-input {
  margin: 0;
}

.yesRadio span.hisRadio {
  font-size: 18px;
  font-weight: 600;
}

.historyHealth {
  padding: 15px;
}

// .historyHealthBox {
//   background: var(--whiteColor);
//   padding: 20px;
//   margin-top: 15px;
//   border: 1px solid #D9D9D9;
//   border-radius: 10px;
// }

.historyhTitle .historyh3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0px;
}

.historyhTitle h6.developh6 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-top: 8px;
}

.historyhTitle p.paragray {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.historyhTitleP {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.historyBasic {
  width: auto;
}

.historyBasic .historyChild {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.historyChild35 {
  width: 35%;
}

.historyChild65 {
  width: 65%;
  display: flex;
  gap: 15px;
}

.historygender {
  width: 100px;
}

.historybirth ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.historybirth ul li {
  padding-right: 10px;
}

.historybirth ul li:last-child {
  padding-right: 0px;
}

.historybirth ul li .hsseloption {
  background: transparent;
  padding: 5px 7px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}

.historyIllunessItem .expandInput {
  margin-bottom: 2px !important;
  padding-left: 7px;
  margin-right: 7px;
}

.historyIllunessItem .expandInput .form-select {
  background-position: right 0.35rem center;
  background-size: 12px 10px;
  padding: 3px 20px 3px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  transition: all .4s ease;
}

.historyDomest40 {
  width: 40%;
}

.historyDomest60 {
  width: 60%;
}

.historyDomest60 .historyDomest100 {
  width: 100%;
}

.healthInput .inputGroup label {
  color: var(--primaryLight);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

.inputGroup .inputBlock{
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid var(--primaryColor);
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nunito';
}


.historyDeployGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.historybirth ul li span.selectside {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
  padding-left: 7px;
}

.historyDeployment .historyDomest100 {
  width: 100%;
}

.historyDeployGridItem ul li .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nunito';
}

.historyIllunessItem {
  width: auto;
}

.developSpecify .specifymb {
  margin-bottom: 30px;
}

.specifymb.marginBottom1 {
  margin-bottom: 0px !important;
}

.developSpecify .specifymb:first-child {
  margin-top: 30px;
}

.developColds .inputGroup label {
  color: var(--primaryLight);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.developColds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.developColdsItem {
  width: auto;
}

.developColdsItem .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}

.developColdsItem span.selectside {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
  padding-left: 7px;
}

.yesNo .btn-outline-secondary {
  width: 54px;
  margin-right: 15px;
  border-color: #d9d9d9;
  color: #000;
}

.yesNo .btn-outline-secondary:last-child {
  margin-right: 0px;
}

.historyRoutine .inputGroup .form-label {
  color: var(--primaryLight);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.inputGroupTimeFlex {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.inputGroupTimeFlex .inputGroupTime {
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-top: 5px;
}

.historyRoutine .inputGroupTime .form-label-small {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.historyRoutine .hsseloption {
  background: transparent;
  padding: 5px 2px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.inputGroupTime ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputGroupTime ul li {
  padding-right: 5px;
}

.inputGroupTime ul li:last-child {
  padding-right: 0px;
}

.developSpecify30 {
  width: 30%;
}

.developDuring {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 32%;
  gap: 15px;
  margin-top: 20px;
}


.historyhPattern {
  margin-top: 30px;
}

.dietcolor {
  color: var(--primaryLight);
}

.historyhFoodFlex85 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

.historyhFoodFlex85 .historyhFoodItem {
  width: 100%;
}

.historyhFoodFlex100 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

.historyhFoodFlex100 .historyhFoodItem {
  width: 100%;
}

.historyhFoodFlex100 .historyhFoodItem {
  width: 100%;
}


/* ===================== user signup health history css exit =====================*/


@media screen and (max-width: 1366px) {
  .developColds.developDuring.specifymb {
    grid-template-columns: repeat(2, 1fr) auto;
  }
}

@media screen and (max-width: 1199px) {
  .historyHealthBox {
    padding: 15px;
  }

  .healthInput .inputGroup label {
    font-size: 16px;
  }

  .historyRoutine .inputGroup .form-label {
    font-size: 16px;
  }

  .inputColorsize {
    font-size: 16px;
  }

  .historyhFoodFlex100 {
    width: 100%;
  }

  .developSpecify100.specifymb {
    width: 100%;
  }
}


@media screen and (max-width: 1080px) {
  .healthInput .inputGroup label {
    font-size: 16px;
    font-weight: 600;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyBasic .historyChild {
    flex-direction: column;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyRoutine .inputGroup .form-label {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .historyhTitle .historyh3 {
    font-size: 20px;
    font-weight: 600;
  }

  .historyHealthBox {
    padding: 15px;
  }

  .historyDeployGrid {
    gap: 10px;
  }

  .historybirth ul li span.selectside {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .healthInput .inputGroup label {
    font-size: 18px;
  }

  .developColds .inputGroup label {
    font-size: 18px;
    font-weight: 600;
  }

  .historyhFoodFlex100 {
    grid-template-columns: repeat(1, 1fr);
  }

  .developColds.developDuring.specifymb {
    grid-template-columns: repeat(1, 1fr);
  }

  .historyChild65 {
    width: 100%;
  }

  .historyChild35 {
    width: 100%;
  }

  .historyDeployGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .developColds.specifymb {
    grid-template-columns: repeat(1, 1fr);
  }
  .historyhFoodFlex85 {
    grid-template-columns: repeat(1, 1fr);
  }
  .developSpecify30 {
    width: 100%;
  }
}
@media screen and (max-width:767px){
  ::ng-deep .selectBlock .mat-form-field-label-wrapper label {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
  }

  .historyhFoodYesno {
    grid-template-columns: repeat(1, 1fr);
  }
  .headingbg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headingh1Health{
    text-align: center;
    font-weight: 800 !important;
  }
  .paratopHealth{
    text-align: center !important;
  }

}
@media screen and (max-width:425px){
  // .healthSelectOut {
  //   width: 306px;
  //   display: flex;
  //   justify-content: center;
  // }
  .historyIlluness {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width:360px){
  // .healthSelectOut {
  //   width: 255px !important;
  //   display: flex;
  //   justify-content: center;
  // }
}

// Continue button design

::ng-deep .healthContinue {
  text-align: center !important;
  margin-top: 20px;
}

::ng-deep .healthContinue .btn-primary {
  background: var(--primaryLight);
  border-color: var(--primaryLight);
  padding: 11px 10px;
  border-radius: 10px;
  font-size: 18px;
}


.calSetIn {
  position: relative;
}

.calSet {
  position: absolute;
  top: 24px;
  right: 0px;
}

::ng-deep .inputGroup.calSetIn input.inputBlock {
  height: 33px;
}

::ng-deep .calSet .mat-icon-button {
  width: 42px;
  height: 32px;
  line-height: inherit;
  border-radius: 0px 10px 10px 0px !important;
}

::ng-deep .mat-calendar-controls .mat-calendar-period-button {
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 500;
  height: inherit;
}

::ng-deep .mat-calendar-controls .mat-calendar-arrow {
  fill: #fff;
}

::ng-deep .mat-calendar-controls .mat-icon-button {
  color: #fff;
  line-height: inherit;
}

::ng-deep .mat-icon-button {
  line-height: inherit;
}


// dropdown custom modify

::ng-deep .selectBlock .selectPlaceHolder .ProDrop .mat-select-placeholder {
  font-family: 'Nunito';
  color: #b9b9b9 !important;
  font-size: 16px;
  font-weight: 400;
}

::ng-deep .provider_start {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px !important;
  min-width: 96px !important;
  padding: 15px 25px !important;
  margin-bottom: 5px !important;
  height: 63px;
}

.SelectBusinessArea .provider_start .mat-icon {
  width: 28px;
  height: 28px;
}

::ng-deep .selectBlock .mat-select-arrow {
  border-left: 12px solid rgba(0, 0, 0, 0) !important;
  border-right: 12px solid rgba(0, 0, 0, 0) !important;
  border-top: 12px solid !important;
}

::ng-deep .selectBlock .mat-select-arrow {
  color: var(--blackColor);
}

::ng-deep .selectBlock .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-2.45em) scale(1.2) perspective(100px) translateZ(1.001px);
  padding: 0;
  color: var(--blackColor);
  display: none;
}

::ng-deep .selectBlock .mat-form-field-label-wrapper label {
  font-size: 16px;
  font-weight: 400;

}

::ng-deep .selectBlock .selectPlaceHolder.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 2.5em;
}

mat-radio-group {
  display: flex;
  gap: 15px;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane mat-option {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #333;
  padding: 0 12px;
}

.headingbg{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep.custom-select-b {
  mat-label {
    color: #B9B9B9 !important;
    font-size: 20px;
    font-weight: 400;
  }
  .mat-form-field-label-wrapper {
    top: -12px;
    left: 11px;
  }
  .mat-select-min-line {
    top: 2px;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #000 !important;
  }
}

::ng-deep .custom-select-box mat-select {
  height: 37px;
  width: 233px;
  padding: 0 22px 0 10px !important;
  border: 1px solid var(--primaryColor) !important;
  background: #fff;
  border-radius: 3px;

  .mat-select-min-line {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-select-arrow {
    border: none !important;
    &::after {
      content: url("../../../assets/images/chevron-down.svg");
      position: inherit;
      top: 0;
      width: auto;
      height: auto;
    }

  }
}
  ::ng-deep.mat-option-text {
    display: flex !important;
    justify-content: start;
    gap: 10px;
    align-items: center;
    color: #000;

    .checkbox-icon {
      border: 2px solid;
      border-radius: 3px;
      height: 20px;
      width: 20px;
      padding: 2px;

      .content {
        width: 12px;
        height: 12px;
        background: #fff;
        left: 3px;
        top: 3px;
      }
    }
  }

