<div class="resultMessagePopup">
    <h1 class="resultMsgPopTitle">Tuition Details</h1>
    <div class="resultMessagePopTable">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th scope="row">Tuition Fees</th>
            <td *ngIf="data?.data?.provider?.tuitionfees?.tuitionfees">$ {{data?.data?.provider?.tuitionfees?.tuitionfees}}</td>
            <td *ngIf="!data?.data?.provider?.tuitionfees?.tuitionfees">Not Available</td>
          </tr>          
          <tr>
            <th scope="row">PDF Link</th>
            <td *ngIf="data?.data?.provider?.tuitionfees?.pdf_link"><a href="javascript:void(0)" (click)="goToLink(data?.data?.provider?.tuitionfees?.pdf_link)">{{data?.data?.provider?.tuitionfees?.pdf_link}}</a></td>
            <td *ngIf="!data?.data?.provider?.tuitionfees?.pdf_link">Not Available</td>
          </tr>          
          <tr>
            <th scope="row">Link to external pricing page</th>
            <td *ngIf="data?.data?.provider?.tuitionfees?.web_link"><a href="javascript:void(0)" (click)="goToLink(data?.data?.provider?.tuitionfees?.web_link)">{{data?.data?.provider?.tuitionfees?.web_link}}</a></td>
            <td *ngIf="!data?.data?.provider?.tuitionfees?.web_link">Not Available</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="resultMessageBtn">
      <button class="btn modalBtn" (click)="closeModal()">Close</button>
    </div>
  </div>
  